{% extends "base.html" %}
{% load comments %}

{% block content %}
<div class="post-container" style="margin-left:300px;margin-right:300px;">
<div class="post-content">
    <h2>{{post.title}}</h2>
    <p>{{post.date}}</p>
    <p>{{post.content}}</p>
</div>
<div class="post-comment" style="margin-top:2cm;">
    <hr/>
    {% get_comment_form for post as form %}
    {% if user.is_authenticated %}
        <form action="{% comment_form_target %}" method="POST">
        {% csrf_token %}
        {{ form.comment }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{% url 'post_detail' post.id %}" />
        <input type="submit" value="Add comment" id="id_submit" />
        </form>
    {% else %}
         <table>
          <form action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            {{ form }}
            <tr>
              <td colspan="2">
                <input type="submit" name="submit" value="Post">
                <input type="submit" name="preview" value="Preview">
              </td>
            </tr>
          </form>
        </table>
    {% endif %}
    {% render_comment_list for post %}
    {% get_comment_count for post as comment_count %}
    <p>This article has {{ comment_count }} comments.</p>
</div>
</div>
{% endblock %}

