aldryn-bootstrap3==1.2.2
certifi==2017.7.27.1
chardet==3.0.4
cmsplugin-filer==1.1.3
coverage==4.4.1
dj-database-url==0.4.2
Django==1.8.18
django-admin-sortable==1.6.7
django-appconf==1.0.2
django-ckeditor==5.3.0
django-ckeditor-filer==1.1.0
django-classy-tags==0.8.0
django-cms==3.4.4
django-contrib-comments==1.8.0
django-filer==1.2.8
django-formtools==2.0
django-js-asset==0.1.1
django-mptt==0.8.7
django-polymorphic==1.0.2
django-reset-migrations==0.3.1
django-sekizai==0.9.0
django-threadedcomments==1.0b1
django-treebeard==4.1.2
djangocms-admin-style==1.2.7
djangocms-attributes-field==0.3.0
djangocms-ckeditor-filer==0.2.2
djangocms-column==1.7.0
djangocms-file==2.0.2
djangocms-flash==0.3.0
djangocms-googlemap==1.1.1
djangocms-helper==0.9.9
djangocms-installer==0.9.7
djangocms-link==2.1.2
djangocms-picture==2.0.5
djangocms-slider-easy==0.2.6
djangocms-slideshow==0.1.5
djangocms-snippet==1.9.2
djangocms-style==2.0.2
djangocms-text-ckeditor==3.5.0
djangocms-video==2.0.3
djangocms-youtube==0.2.1
docopt==0.6.2
easy-thumbnails==2.3
gunicorn==19.7.1
html5lib==0.9999999
idna==2.6
isodate==0.5.4
jsonfield==2.0.2
olefile==0.44
Pillow==4.2.1
pluggy==0.5.2
psycopg2==2.7.3.2
py==1.10.0
pyflakes==1.6.0
pytz==2017.2
requests==2.18.4
six==1.10.0
South==1.0.2
tox==2.8.2
tzlocal==1.4
Unidecode==0.4.21
urllib3==1.22
virtualenv==15.1.0
whitenoise==3.3.1
