.carousel-inner {
    height: 500px;
    margin-top:85px;
    background-color: rgb(0,0,0,0.9);
}
.carousel-inner .item {
    height:90%;
    margin-top:1cm;
    margin-top:0.7cm;
}
.carousel-inner .item img {
    height:100% !important;
    margin:auto;
}


h3 {
    font-family: "Times New Roman", Times, serif;
}
.home-content {
    margin:auto;
    width:90%
}

.blog-nav{
    background-color: #eee;
    border: 1px dotted black;
    overflow: scroll;
}

#id_comment {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.comment-paragragh {
    word-wrap: break-word; 
    white-space: pre-line;
    white-space: pre-wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

.login-page {
    width:500px;
}

.navigation-bar {
    height:85px;
    position:fixed;
    z-index:1;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top:20px;
} 

.post-container {
    width: 60%;
    margin: 87px auto;
    overflow:hidden;
}
    
.post-container img {
    width:100%;
    height:auto;
}


.login-page {
    margin:auto;
    margin-top:3cm;
    height:500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.galary-container .column {
    float: left;
    width: 25%;
    padding: 10px;
}
.galary-plugin img {
    margin-top: 20px;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .galary-container .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .galary-container .column {
        width: 100%;
   }
}

.post-image {
    width:100%;
    height:100%;
    position: relative;
}


.post-image img {
    height: 100% !important;
    width: 100%; !important;
    margin:0px;
}

.image-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

.post-image:hover .image-description {
    visibility: visible;
    opacity: 0.5;
}
