.carousel .item {
    height: 700px;
}
.carousel .item img{
    height: 100% !important;
    width:  100% !important;
}
h3 {
    font-family: "Times New Roman", Times, serif;
    margin-left:12px;
}
.jumbotron h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
/**
#myCarousel {
    margin-left: 70px;
    margin-right:70px;
}

.video-plugin {
    margin-left: 70px;
}  **/
.home-content {
    margin-left:70px;
    margin-right:70px;
}

.club-info h3 {
   
}
