<div class="col-sm-2">
    <img class="img-rounded" src="{{ logo.url }}" style="width:50%;vertical-align:middle;">
</div>
<div class="col-sm-10">
    <div class="row page-links">
    <div class="col-sm-8 site-links">
        <div class="col-sm-4"><a href="{{link_url_1}}">{{text_1}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_2}}">{{text_2}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_3}}">{{text_3}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_4}}">{{text_4}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_5}}">{{text_5}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_6}}">{{text_6}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_7}}">{{text_7}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_8}}">{{text_8}}</a></div>
        <div class="col-sm-4"><a href="{{link_url_9}}">{{text_9}}</a></div>
    </div>
    <div class="col-sm-4 rs-links">
        <div  class="col-sm-2 rs-image">
            <a href="{{link_url}}"><img class="img-rounded" src="{{logo_weibo.url}}" alt="{{text_weibo}}">
            </a>
        </div>
        <div  class="col-sm-2 rs-image">
            <a href="{{link_url}}"><img class="img-rounded" src="{{logo_twitter.url}}" alt="{{text_twitter}}">
            </a>
        </div>
        <div  class="col-sm-2 rs-image">
            <a href="{{link_url}}"><img class="img-rounded" src="{{logo_facebook.url}}" alt="{{text_facebook}}">
            </a>
        </div>
    </div>
    </div>
    <div class="row cpright" style="float:right">
        <span>{{cpright_field}}</span>
    </div>
</div>




