body {
    background-image:url("images/background_image.6e47fb72eef5.jpeg");
    background-attachment:fixed;
    background-size: cover;
    overflow-x: hidden;
}
.dropdown .dropdown-menu {
    background-color:rgb(0,0,0,0.5);
}
.dropdown {
    font-size: 20px;
    font-weight: bold;
}
.link-login:link {
    background-color:white;
    color: black;
    padding: 10px 10px;
    text-align: center;
    border-radius: 12px;
}
.link-login:hover {
    background-color:rgb(0,0,0);
    text-decoration: none;
}

.rs-image {
    height:20px;
}
.rs-image img {
    height:100%;
}
.carousel-inner {
    height: 500px;
    margin-top:85px;
    background-color: rgb(0,0,0,0.9);
}
.carousel-inner .item {
    height:90%;
    margin-top:0.7cm;
}
.carousel-inner .item img {
    height:100% !important;
    margin:auto;
}

.slideshow-container {
    background-color:#f3f5f6;
}

.slideshow-content {
    overflow:hidden;
    height: 700px;
    margin-top:85px;
    background-color: rgb(0,0,0,0.9);
}

.post-image-container {
}
.post-image-header {
    overflow:hidden;
    height: 500px;
    margin-top:85px;
    background-color: rgb(0,0,0,0.9);
}
.image-inner {
    height:90%;
    margin-top:0.7cm;
}
.image-inner img {
    height:100% !important;
    margin:auto;
    vertical-align: middle;
    display: block;
}

.last-articles h3 {
    margin-bottom:40px;
}

h3 {
    font-family: "Times New Roman", Times, serif;
}
.home-content {
    margin:auto;
    width:90%
}

.blog-nav{
    background-color: #eee;
    opacity:0.6;
    overflow: scroll;
    padding:15px;
    border-radius: 10px;
}
.post-list {
    background-color: #eee;
    opacity:0.6;
    padding:15px;
    border-radius: 10px;
}

.post-content {
    background-color: #f8f8f8;
    opacity: 0.8;
    border-radius:10px;
    padding:15px;
}
#id_comment {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    background-color:grey;
    opacity:0.8;
    font-size: 16px;
    resize: none;
}

.comment-list {
    padding:15px;
    background-color: #f8f8f8;
    opacity:0.8;
    border-radius:10px;
    margin-bottom:15px;
}
.comment-paragragh {
    word-wrap: break-word; 
    white-space: pre-line;
    white-space: pre-wrap;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #f8f8f8;

}

.login-page {
    width:500px;
}

.navigation-bar {
    height:85px;
    position:fixed;
    z-index:1;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top:20px;
} 

.post-container {
    width: 60%;
    margin: 87px auto;
    overflow:hidden;
}
    
.post-container img {
    width:100%;
    height:auto;
}


.login-page {
    margin:auto;
    margin-top:3cm;
    height:500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.blog-container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.post-list h2 {
    color:rgb(0,0,0, 0.8);
}
.post-list h2:hover {
    text-decoration: none !important;
    color:black;
}
.galary-container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.galary-container .column {
    float: left;
    width: 25%;
    padding: 2px;
}
.galary-container img {
    margin-top: 10px;
    margin-bottom:20px;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .galary-container .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .galary-container .column {
        width: 100%;
   }
}

.post-image {
    width:100%;
    height:100%;
    position: relative;
    opacity:0.7;
}


.post-image img {
    height: 100% !important;
    width: 100%; !important;
    margin:0px;
}

.image-description {
  position: absolute;
  top: 90px;
  bottom: 90;
  left: 0;
  right: 0;
  color:rgba(0, 0, 0, 0.7);
  font-size:20px;
  margin:auto;
  visibility: hidden;
  text-align: center;
}

.post-image:hover{
    opacity:1;
}

.post-image:hover .image-description {
    visibility: visible;
}
.photo-container {
    height:300px;
    margin-top:100px;
    min-width:800px;
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding:12px;
}
hr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 1px dimgrey !important;
    height: 1px !important;
    width: 100% !important;
}


